// CoordinateComponent's private SCSS styles

@import '../../../globals';

#coordinates {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: calc(100% - 60px);

  label {
    @extend %input-label;
  }

  input[type='text'] {
    @extend %input-box;
    width: 50%;
    height: 50px;
    margin: $length-gutter;
    font-size: 40px;
    letter-spacing: 4px;
  }

  .status.invalid {
    width: 50%;
    margin-top: -$length-gutter;
    text-align: center;
    font: {
      family: $font-stack;
      size: 14px;
    }
    letter-spacing: 2px;
    background-color: brown;
    color: white;

    div {
      display: inline-block;
      margin: 2px 6px;

      em {
        font-style: normal;
        opacity: 0.66;
      }
    }
  }

  #portal-glyphs {
    width: 50%;
    height: 70px;
    margin: $length-gutter;
    padding: 2px;
    font: {
      family: 'NMS Glyphs';
      size: 58px;
    }
    text: {
      align: center;
      shadow: 0 0 2px aquamarine, 0 0 8px rgba(255, 255, 255, 0.8);
    }
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
