/* AppComponent’s private CSS styles */
h1 {
    position: relative;
    width: 75%;
    margin: 100px 0 50px;
    padding: var(--length-gutter) 0 var(--length-gutter) 25%;
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    font-family: var(--font-family);
    font-size: 32px;
    letter-spacing: 2px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.5) 12.5%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,0.1) 100%); 
    color: white;
}
h1 .logo {
    display: inline-block;
    position: relative;
    top: -11px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: white;
}
h1 .logo::before {
	content: '';
	position: absolute;
	top: 15px;
    left: -15px;
    border: 15px solid transparent;
    border-top-color: white;
}
h1 .logo::after {
	content: '';
	position: absolute;
	top: 10px;
	left: -5px;
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
	opacity: 0.8;
}