/* TranslatorComponent’s private SCSS styles */
@import '../../globals';

#translators {
    width: 100%;
    margin: 0;
    padding: 0 {
        bottom: 24px + $length-gutter;
    }
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;

    .language {
        width: 50%;
        margin: 0 $length-gutter;

        @include respond-to(small-screen) {
            width: 100%;
            margin: 0;
        }
        @include respond-to(medium-screen) {
            width: 45%;
            height: calc(100% - 4 * #{$length-gutter});
            margin: 0 $length-gutter;
        }
    
        .name {
            padding: $length-gutter;
            text: {
                align: center;
                transform: uppercase;
            }
            font: {
                family: $font-stack;
                size: 24px;
            }
            letter-spacing: 1px;
            color: white;

            @include respond-to(small-screen) {
                font-size: 18px;
            }
        }
    
        textarea {
            display: block;
            width: calc(100% - 4 * #{$length-gutter});
            height: 50px;
            resize: none;
            overflow-x: hidden;
            overflow-y: auto;
            padding: $length-gutter (2 * $length-gutter);
            font: {
                family: $font-stack;
                size: 20px;
                weight: 500;
            }
            letter-spacing: 1px;
            text-align: center;
            border: none {
                bottom: 3px solid #46545f;
                radius: 0;
            }
            box-shadow: inset 3px 0 0 0 white;
            background-color: rgba(0, 0, 0, 0.85);
            color: gainsboro;

            @include respond-to(small-screen) {
                height: 100px;
                font-size: 18px;
                box-shadow: none;
                border: none;
            }
            @include respond-to(medium-screen) {
                height: 125px;
            }
    
            &.gek    { color: yellowgreen; }
            &.korvax { color: violet; }
            &.vykeen { color: tomato; }
        }
    }
}
