/* TranslatorComponent’s private CSS styles */
.language {
    padding: var(--length-gutter);
}
.language .name {
    padding: var(--length-gutter);
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-family);
    letter-spacing: 1px;
    font-size: 24px;
    color: white;
}
.language textarea {
    display: block;
    resize: none;
    margin: auto;
    width: calc(50% - 4 * var(--length-gutter));
    height: 50px;
    padding: var(--length-gutter) calc(2 * var(--length-gutter));
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    border: none;
    border-bottom: 3px solid #46545f;
    box-shadow: inset 3px 0 0 0 white;
    color: gainsboro;
}
.language.gek textarea {
    color: springgreen;
}
.language.korvax textarea {
    color: orchid;
}
.language.vykeen textarea {
    color: crimson;
}
