/* Global application styles */

@import './globals';

@font-face {
    font-family: 'GeoNMS';
    src: url('./assets/geonms.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

html {
    height: calc(100% - 150px);
}

body {
    height: 100%;
    margin: 0;
    background: {
        color: #bcc5ce;
        image: radial-gradient(
            circle at 75% 75%,
            #bcc5ce 0%,
            #667a92 45%,
            #0b1723 90%,
            #3b4858 100%);
        repeat: no-repeat;
        attachment: fixed;
    }
}

h1 {
    position: relative;
    width: 75%;
    margin: 100px 0 50px;
    padding: $length-gutter 0 $length-gutter 25%;
    text: {
        align: left;
        transform: uppercase;
    }
    font: {
        weight: normal;
        family: $font-stack;
        size: 32px;
    }
    letter-spacing: 2px;
    background: #000000;
    background: linear-gradient(
        90deg,
        rgba(0,0,0,0.2) 0%,
        rgba(0,0,0,0.5) 12.5%,
        rgba(0,0,0,0.5) 25%,
        rgba(0,0,0,0.1) 100%); 
    color: white;

    @include respond-to(small-screen) {
        width: 100%;
        margin: 0 0 $length-gutter;
        padding: $length-gutter 0;
        text-align: center;
        font-size: 24px;
    }
    @include respond-to(medium-screen) {
        width: 100%;
        margin-top: 0;
        padding: $length-gutter 0;
        text-align: center;
    }

    .logo {
        $logo-size: 15px;
        $circle-size: 2 * $logo-size / 3;
        display: inline-block;
        position: relative;
        top: -$circle-size; // was -11px, testing -10px to see how it looks
        width: 0;
        height: 0;
        border: $logo-size solid transparent {
            bottom-color: currentColor;
        };

        @include respond-to(small-screen) {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            top: $logo-size;
            left: -$logo-size;
            border: $logo-size solid transparent {
                top-color: currentColor;
            }
        }
        &::after {
            content: '';
            position: absolute;
            top: $circle-size;
            left: $circle-size / -2; // was -5px
            width: $circle-size;
            height: $circle-size;
            background-color: black;
            border-radius: 50%;
            opacity: 0.8;
        }
    }
}