/* You can add global styles to this file, and also import other style files */
html {
    height: calc(100% - 150px);
}
body {
    height: 100%;
    margin: 0;
    background-color: rgb(188,197,206);
    background-image: radial-gradient(circle at 75% 75%, rgba(188,197,206,1) 0%, rgba(102,122,146,1) 45%, rgba(11,23,35,1) 90%, rgba(59,72,88,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: brown;
}
:root {
    --length-gutter: 12px;
    --length-corner-radius: 2px;
    --font-family: GeoNMS, Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: "GeoNMS";
    src: url("./assets/geonms.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}